@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* ROOT VARIABLES */
:root {
--h1-color: rgb(22, 21, 22);
--sub-color: rgb(84, 83, 84);
--auth-btn: rgb(60, 6, 61);
--auth-btnhvr: rgb(114, 56, 122);
--search-bar: rgb(44, 15, 45);
}

/* USER AUTHENTICATION -- LOGIN and REG */
/* USER AUTHENTICATION -- LOGIN and REG */
/* USER AUTHENTICATION -- LOGIN and REG */

/* HEADER */
.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Lato', sans-serif;
}

.auth-header {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-header h1 {
  margin-top: 32px;
  letter-spacing: -0.75px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 46px;
  text-align: center;
  font-weight: 710;
  color: var(--h1-color);
}
.auth-header p {
  margin-top: 16px;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--sub-color);
}
.auth-header .slack-logo-auth {
  height: 34px;
  width: auto;
}

/* AUTHENTICATION INPUT */
.input-auth {
  width: 100%;
  padding: 11px 12px 13px;
  height: 44px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  box-sizing: border-box;
  margin: 0 0 20px;
}
.input-auth:focus {
  border: 1px solid rgba(0, 0, 0);
  outline: 3px solid rgb(142, 211, 239);
}

.auth-button {
  color: #ffffff;
  background-color: var(--auth-btn);
  font-size: 18px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  border-radius: 4px;
  padding: 0 16px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  outline: none;
}
.auth-button:hover {
  background-color: var(--auth-btnhvr);
}
.auth-button:focus, .auth-button:active {
  background-color: var(--auth-btnhvr);
  outline: 3px solid rgb(127, 208, 240);
}

/* USER REGISTRATION */
.reg-form {
  margin: 36px 12px 12px 12px;
  width: 25rem;
}

.reg-checkbox {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  vertical-align: middle;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 15px;
}
.reg-checkbox .label-regcheckbox {
  margin-left: 16px;
}

.reg-terms {
  margin-top: 24px;
  line-height: 1.46668;
  font-weight: initial;
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}
.reg-terms a,
.reg-terms a:active {
  color: #696969;
  text-decoration: none;
}
.reg-terms a:hover {
  color: #4285f4;
  text-decoration: underline;
}

/* LOGIN */
.login-form {
  width: 440px;
  display: flex;
  flex-direction: column;
  margin: 36px 12px 12px 12px;
}

.login-google,
.login-apple {
  margin-bottom: 16px;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
}
.login-google p,
.login-apple p {
  letter-spacing: -0.5px;
}

.login-google {
  height: 44px;
  min-width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4285f4;
  background-color: #ffffff;
  color: #4285f4;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.75px;
}

.login-apple {
  height: 44px;
  min-width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.75px;
}

.login-icon {
  font-size: 22px;
  padding-right: 16px;
}

.login-divider {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(221, 221, 221);
  margin-top: 25px;
  margin-bottom: 35px;
  
}
.login-divider-text {
  position: absolute;
  font-size: 1rem;
  top: -10px;
  left: 42%;
  padding: 0 25px;
  background-color: #fff;
}

.register-link {
  display: flex;
  justify-content: center;
  font-size: .9rem;
}
.register-link a {
  text-decoration: none;
  color: #356cf1;
  font-weight: 600;
}
.register-link a:visited {
  text-decoration: none;
}
.register-link a:hover {
  color: #356cf1;
  text-decoration: underline;
}


/* FOOTER */
.auth-footer {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}
.auth-footer .change-region,
.auth-footer a,
.auth-footer a:active {
  color: #696969;
  text-decoration: none;
}
.auth-footer .change-region:hover,
.auth-footer a:hover {
  color: #4285f4;
  text-decoration: underline;
}

.auth-footer div {
  padding: 0 20px;
}

/* MAIN DASHBOARD */
/* MAIN DASHBOARD */
/* MAIN DASHBOARD */

/* SIDE BAR */
.sidebar-container {
  display: flex;
  flex-direction: column;
  /* grid-column: 1/2; */
  width: 20rem;
  height: 100vh;
  background-color: var(--auth-btn);
  border: 1px solid rgba(255, 255, 255, 0.063);

}

.sidebar-header {
  height: 50px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.team-name-button {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
}

.compose-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  padding: 9px;
  color: var(--auth-btn);
  background-color: #ffffff;
  border-radius: 50%;
}

.sidebar-menu {
  color: rgb(200, 200, 200);
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid hsla(0, 0%, 100%, 0.063);
}

.menu-options {
  padding: 0 16px;
  display: flex;
  align-items: center;
  line-height: 2;
}
.menu-options span {
  padding-left: 8px;
}
.menu-options a {
  color: #ffffff;
  text-decoration: none;
}
.menu-options:hover {
  background-color: var(--search-bar);
  font-weight: 500;
}
.menu-options:active {
  background-color: rgb(18, 99, 163);
}

.channels-dropdown-header,
.direct-messages-dropdown-header {
  width: 100%;
  padding: 10px 16px 0px 16px;
  display: flex;
  align-items: center;
  line-height: 2;
}
.channels-dropdown-header span,
.direct-messages-dropdown-header span {
  width: 65%;
  padding: 8px;
}

.sidebar-add-icon {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.channels,
.direct-messages {
  list-style: none;
}
.channels li,
.direct-messages li {
  padding: 0 29px;
  display: flex;
  align-items: center;
  line-height: 1.8;
}
.channels li:hover,
.direct-messages li:hover {
  background-color: var(--search-bar);
  font-weight: 500;
}
.channels li:active,
.direct-messages li:active {
  background-color: rgb(18, 99, 163);
}
.channels span,
.direct-messages span {
  padding-left: 8px;
}
.channels img,
.direct-messages img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
.channels a,
.direct-messages a {
  color: #ffffff;
  text-decoration: none;
}


/* add channel form styles */
.addChannelForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.addChannelForm input {
  width: 180%;
  font-size: 15px;
}

.addChannelForm input::placeholder {
  padding: 10px;
}

.addChannelBtn {
  background-color: rgba(250, 250, 250, .5);
  cursor: pointer;
}

/* channel list */
.channel-container {
  height: 40vh;
  overflow-y: scroll;
}

.channel-container::-webkit-scrollbar {
  display: none;
}

.channel-list {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.channel-name {
  color: #fff;
  text-decoration: none;
  
}

.channel-list:hover {
  background-color: #3F0E40;
}

.channel-list:focus {
  background: #1264a3;
}

/* Add member form*/
.member-form {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.member-form input {
  width: 80%;
  font-size: 15px;
}

.member-form input::placeholder {
  padding: 10px;
}

/* panel styles */
.panel {
  display: flex;
}

/* chat styles */
.chat {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-form{
  width: 100%;
  display: flex;
  align-items: center;
}

.message-area {
  width: 95%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .5);
  outline: none;
  padding: 10px;
}

.sendBtn {
  background-color: white;
  border: none;
  height: 50px;
  width: 5%;
  border-radius: 5px;
  cursor: pointer;
}

.send {
  color: rgb(60, 6, 61);
  font-size: 2rem;
}
